{
    "discord_token": "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
    "two_factor_authentication_secret": "AAAAAAAAAAAAAAAA",
    "command_prefix": "!",
    "accounting_system_token": "abcdefghijklmnopqrstuxwxyz"
}
