{
    "discord_token": "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
    "two_factor_authentication_secret": "AAAAAAAAAAAAAAAA",
    "command_prefix": "!",
    "accounting_system_token": "Token abcdefghijklmnopqrstuxwxyz",
    "redis_url": "redis://localhost:6379/0",
    "selelab": {
      "scheme": "https",
      "host": "selelab.com"
    }
}
